<div class="container">

  <%= form_with url: users_path,
                method: :get,
                data: { turbo_frame: 'search',
                        controller: 'search',
                        action: 'keyup->search#perform' } do |f| %>

    <%= f.text_field :query, value: params[:query] %>

  <% end %>

  <%= render 'users_table', users: @users %>

</div>

